#logo {
    width: 150px;    
    text-align: center;
    margin: 50px auto;
    border: 10px solid black;
    font-size: 3em;
    font-weight: bolder;
    padding: 0 20px;    
}
#menu  {width: 100%; border: 1px solid red;}
#menu ul {
    border: 1px solid red;
    width: 50%;
    margin: 30px auto;
}
li {
    font-size: 1.5em;
    display: inline;
    margin-right: 50px;
}
.curr_sel {
    font-weight: bolder;
}
a {
    text-decoration: none;
}
a:hover{
    font-size: 1.2em;
}
img {
    display: block;    
    width: 50%;
    height: 400px;
    margin: auto;
}