/* 768px 미만 일때 스타일 */
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
div {
  width: 100%;
}
.d1 {
  height: 50px;
  background-color: brown;
  color: #fff;
  line-height: 50px;
  vertical-align: middle;
  padding-left: 30px;
}
.d2 {
  height: 350px;
  background-image: url('image1.jpg');
  background-position: center center;
}
.d3 {
  height: 260px;
}
.d33 {
  height: 200px;
  padding: 30px 20px;
}
.d33 h4 {
  font-size: 16px;
  color: #4a4a4a;
  margin: 0px;
}
.p1 {
  font-size: 20px;
  color: #1b1b1b;
  font-weight: bolder;
  margin: 10px 0px 30px;
}
.p2 {
  font-size: 16px;
  color: #7a7a7a;
  word-wrap: break-word;
  margin: 0px;
}
.d4 {
  height: 400px;
  background-image: url('image2.jpg');
  background-position: center center;
}
.d5 {
  position: relative;
  height: 200px;
  background-image: url('image3.jpg');
  background-position: center center;
  padding: auto;
}
.d5 span {
  border: 5px solid #fff;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 9px 40px;
  font-weight: bolder;
}
.d6 {
  height: 200px;
  background-image: url('image4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
}
#footer {
  clear: both;
  height: 100px;
  background-color: hotpink;
}
@media screen and (min-width: 768px) {
  /* 1024 ~ 768px 일 때 스타일 */
  body {
    margin: 0;
  }
  div {
    width: 100%;
  }
  .d1 {
    height: 50px;
    background-color: brown;
    color: #fff;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 30px;
  }
  .d2 {
    height: 600px;
    background-image: url('image1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .d3 {
    height: 250px;
  }
  .d33 {
    height: 150px;
    padding: 50px 65px;
  }
  .d33 > h4 {
    font-size: 16px;
    color: #4a4a4a;
  }
  .p1 {
    font-size: 20px;
    color: #1b1b1b;
  }
  .p2 {
    font-size: 16px;
    color: #7a7a7a;
  }
  .d4 {
    float: left;
    width: 50%;
    height: 400px;
  }
  .d5 {
    float: right;
    width: 50%;
    height: 200px;
    position: relative;
    background-image: url('image3.jpg');
    background-position: center center;
    padding: auto;
  }
  .d5 span {
    border: 4px solid #fff;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 auto;
    font-size: 16px;
    font-weight: bold;
  }
  .d6 {
    float: right;
    width: 50%;
    height: 200px;
    background-image: url('image4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
  }
  #footer {
    clear: both;
    height: 100px;
    background-color: hotpink;
  }
}

@media screen and (min-width: 1024px) {
  /* 1024px 이상일 때 스타일 */
  body {
    margin: 0;
  }
  div {
    width: 100%;
  }
  .d1 {
    height: 50px;
    background-color: brown;
    color: #fff;
    line-height: 50px;
    vertical-align: middle;
    padding-left: 30px;
  }
  .d2 {
    float: left;
    width: 50%;
    height: 800px;
    background-image: url('image1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .d3 {
    float: right;
    width: 50%;
    height: 400px;
  }
  .d33 {
    height: 300px;
    padding: 50px 65px;
  }
  .d3 > h4 {
    font-size: 16px;
    color: #4a4a4a;
  }
  .p1 {
    font-size: 20px;
    color: #1b1b1b;
  }
  .p2 {
    width: 600px;
    height: 200px;
    font-size: 16px;
    color: #7a7a7a;
    margin: 0px;
  }
  .d4 {
    float: left;
    width: 25%;
    height: 400px;
  }
  .d5 {
    float: right;
    width: 25%;
    height: 200px;
    position: relative;
    background-image: url('image3.jpg');
    background-position: center center;
    padding: auto;
    margin: 0 auto;
  }
  .d5 span {
    border: 4px solid #fff;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 auto;
    font-size: 16px;
    font-weight: bold;
  }
  .d6 {
    float: right;
    width: 25%;
    height: 200px;
    background-image: url('image4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
  }
  #footer {
    clear: both;
    height: 100px;
    background-color: hotpink;
  }
}
