* {
    box-sizing: border-box;
    border: 0px;
    border-radius: 5px;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1bbc9b;
}
.login-form {
    width: 300px;
    background-color: #eeeff1;
    text-align: center;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
input {
    padding: 10px;
    width: 100%;
}

.text-field {
    font-size: 0.75em;
    margin: 0px 0px 10px;
}
.submit-btn {
    color: #fff;
    background-color: #1bbc9b;
    margin: 0px 0px 30px;
}
.links > a {
    color: #9b9b9b;
    font-size: 0.75em;
}